html {
    background-color: rgb(230, 228, 228);
    border-radius: 10px;
    padding: 3%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
* {
    box-sizing: border-box;    
}
body {
    /* background-color: rgb(255, 221, 0); */
    border-radius: 10px;
    text-align: auto;
}
header {
    /* display: block; */
    /* text-align: auto; */
    /* align-content: space-between; */
    padding: 50px;
    padding-bottom: 90px;
    /* background-color: aqua; */
    border-radius: 10px;
    max-width: 768px;
}
.nftlanding {
    display: flex;
    width: 25%;
    float: left;
    /* background-color: blueviolet; */
}
.burger {
    width: 100%;
    height: 5px;
    /* float: right; */
    background-color: grey;
    margin: 3px 0;
    font-size: 0px;
    border-radius: 10px;
}
nav {
    display: flex;
    flex-direction: column;
    float: right;
    width: 40px;
    /* background-color: blue; */
}
span {
    color: red;
}
@media only screen and (min-width: 768px) {
    header {
    max-width: 100%;
    }
    nav {
    display: flex;
    flex-direction: row;
    float: none;
    gap: 30px;
    font-size: 30px;
    max-width: 100%;
    padding-left: 300px;
    background-color: rgb(227, 37, 176);
    }
    .burger {
        display: flex;
        flex-direction: row;
        height: 0;
        margin: 0;
        width: auto;
        font-size: 20px;
    }
    span {
        width: max-content;
    }
}
.launching {
    color: red;
    font-weight: bold;
    font-size: 35px;
    width: 100%;
    padding-left: 45px;
    background-color: aquamarine;
    float: left;
    
}
.antras {
    display: inline-block;
    grid-area: auto;
    grid-template-columns: auto;
    grid-auto-flow: column;
    /* grid-template-columns: auto; */
    background-color: bisque;
    padding-top: 100px;
}
.h1 {
    display: inline-block;
    font-size: 50px;
    font-weight: bold;
    background-color: aqua;
    padding-left: 45px;
    width: 100%;
    /* float: left; */
}
.h6 {
    font-size: 25px;
    padding-left: 45px;
    color: grey;
    font-weight: normal;
    background-color: antiquewhite;
    float: left;
    width: 100%;
}
.wtf {
    display: inline-grid;
    
    background-color: yellow;
    width: 500px;
    /* padding-right: 500px; */
    shape-outside: circle();
    border-radius: 50%;
    /* float: right; */
    
}
.button {
    padding-top: 35px;
    padding-left: 45px;
}
button {
    font-weight: bold;
    padding-left: 45px;
    border-radius: 30px;
    border: 3px;
    border-style: solid;
    border-image: linear-gradient(to left, grey 0%, yellow 33%, yellow 33%, red 33%, red 66%, teal 66%, orange 100%) 5;
    text-align: center;
    padding: 10px 20px;
    /* background-color: blueviolet; */
}
.trecias {
    /* background-color: blue; */
    background-image: url("assets/background.svg");
    padding-left: 45px;
    padding-top: 100px;

}
.h1_plonas {
    font-weight: normal;
    padding-bottom: 30px;
}
.kaire {
    display: grid;
}
